.toIndex {
     background-color: turquoise;
 }

.topTitle {
    background-color: turquoise;
}

.lineItem1 {
    background-color: cornflowerblue;
}

.lineItem2 {
    background-color: plum;
}

.lineItem3 {
    background-color: mediumpurple;
}

.lineItem4 {
    background-color: goldenrod;
}