.toIndex {
    background-color: burlywood;
}

.topTitle {
    background-color: burlywood;
}

.middleTitle {
    background-color: burlywood;
}

.topItemTitle {
    background-color: burlywood;
}

.top {
    height: 700px;
}

.topItem1, .topItem2, .topItem3 {
    height: 700px;
}

.topItemSelect_up {
    width: 25%;
    right: 10%;
}

.topItemSearch_up {
    width: 8%;
    right: 1%;
}

.bottomTh1, .bottomTh2, .bottomTh3, .bottomTh4, .bottomTh5, .bottomTh6, .bottomTh7, .bottomTh8, .bottomTh9, .bottomTh10, .bottomTh11, .bottomTh12, .bottomTh13, .bottomTh14, .bottomTh15 {
    width: 5%;
    background-color: red;
    color: white;
    padding: 5px;
}

.bottomTh2 {
    background-color: black;
}

.bottomTh3 {
    background-color: blue;
}

.bottomTh4 {
    background-color: purple;
}

.bottomTh5 {
    background-color: green;
}

.bottomTh6 {
    background-color: crimson;
}

.bottomTh7 {
    background-color: midnightblue;
}

.bottomTh8 {
    background-color: darkolivegreen;
}

.bottomTh9 {
    background-color: indigo;
}

.bottomTh10 {
    background-color: chocolate;
}

.bottomTh11 {
    background-color: navy;
}

.bottomTh12 {
    background-color: brown;
}

.bottomTh13 {
    background-color: rebeccapurple;
}

.bottomTh14 {
    background-color: burlywood;
}

.bottomTh15 {
    width: 30%;
    background-color: gold;
}

.bottomTd1, .bottomTd2, .bottomTd3, .bottomTd4, .bottomTd5, .bottomTd6, .bottomTd7, .bottomTd8, .bottomTd9, .bottomTd10, .bottomTd11, .bottomTd12, .bottomTd13, .bottomTd14, .bottomTd15 {
    width: 5%;
    border: 2px solid red;
    padding: 5px;
}

.bottomTd2 {
    border: 2px solid black;
}

.bottomTd3 {
    border: 2px solid blue;
}

.bottomTd4 {
    border: 2px solid purple;
}

.bottomTd5 {
    border: 2px solid green;
}

.bottomTd6 {
    border: 2px solid crimson;
}

.bottomTd7 {
    border: 2px solid midnightblue;
}

.bottomTd8 {
    border: 2px solid darkolivegreen;
}

.bottomTd9 {
    border: 2px solid indigo;
}

.bottomTd10 {
    border: 2px solid chocolate;
}

.bottomTd11 {
    border: 2px solid navy;
}

.bottomTd12 {
    border: 2px solid brown;
}

.bottomTd13 {
    border: 2px solid rebeccapurple;
}

.bottomTd14 {
    border: 2px solid burlywood;
}

.bottomTd15 {
    width: 30%;
    border: 2px solid gold;
}