.toIndex {
    background-color: yellowgreen;
}

.topTitle {
    background-color: yellowgreen;
}

.lineItem1 {
    background-color: cornflowerblue;
}

.lineItem2 {
    background-color: plum;
}

.lineItem3 {
    background-color: mediumpurple;
}

.lineItem4 {
    background-color: goldenrod;
}