.toIndex {
    background-color: plum;
}

.topTitle {
    background-color: plum;
}

.topItemTitle {
    background-color: plum;
}

.top {
    height: 600px;
}

.topItem1, .topItem2 {
    height: 600px;
}

.topItem2 {
    width: 68%;
}

.bottomTh1, .bottomTh2 {
    width: 50%;
    background-color: burlywood;
    color: white;
    padding: 5px;
}

.bottomTh2 {
    background-color: teal;
}

.bottomTd1, .bottomTd2 {
    width: 50%;
    border: 2px solid burlywood;
    padding: 5px;
}

.bottomTd2 {
    border: 2px solid teal;
}