<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.qrcodebusiness.dao.QRCodeRecordMapper">
    <insert id="create" parameterType="QRCodeRecord">
        INSERT INTO
            record
            (templeCode,businessCode,fileName,url,saveTime,money)
        VALUES
            (
            #{templeCode},
            #{businessCode},
            #{fileName},
            #{url},
            #{saveTime},
            #{money}
            )
    </insert>
    <select id="select" parameterType="QRCodeRecord" resultType="QRCodeRecord">
        SELECT
            *
        FROM
            record
        WHERE
            1=1
        <if test="templeCode != null">
            AND templeCode
            LIKE '${templeCode}%'
        </if>
        <if test="businessCode != null">
            AND businessCode
            LIKE '${businessCode}%'
        </if>
        <if test="fileName != null">
            AND fileName
            LIKE '%${fileName}%'
        </if>
        ORDER BY
            saveTime
        DESC
            LIMIT
            0,20
    </select>
    <select id="selectTempleAnalysis" resultType="TempleAnalysis">
        SELECT
            templecode,count(templecode) useCount,sum(money) totalMoney,count(distinct(businesscode)) businessCount
        FROM
            record
        WHERE
            saveTime&gt;#{date1}
        AND
            saveTime&lt;#{date2}
        GROUP BY
            templecode
        ORDER BY
            totalMoney
        DESC
    </select>
    <select id="selectBusinessAnalysis" resultType="TempleAnalysis">
        SELECT
            businesscode,count(businesscode),sum(money),count(distinct(templecode))
        FROM
            record
        GROUP BY
            businesscode
        ORDER BY
            totalMoney
        DESC
    </select>
</mapper>