<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.qrcodebusiness.dao.QRTempleMapper">
    <insert id="create" parameterType="QRCodeTemple">
        INSERT INTO
            temple
            (code,money,ifOnly,ifShowLogo,ifSelfBg,arti,width,height,iconNum,x,y,angle,multiple,ifGif,frame,startQRFrame,endQRFrame)
        VALUES
            (#{code},#{money},#{ifOnly},#{ifShowLogo},#{ifSelfBg},#{arti},#{width},#{height},#{iconNum},#{x},#{y},#{angle},#{multiple},#{ifGif},#{frame},#{startQRFrame},#{endQRFrame})
    </insert>
    <update id="update" parameterType="QRCodeTemple">
        UPDATE
            temple
        SET
            money=#{money},
            ifOnly=#{ifOnly},
            ifShowLogo=#{ifShowLogo},
            ifSelfBg=#{ifSelfBg},
            arti=#{arti},
            width=#{width},
            height=#{height},
            iconNum=#{iconNum},
            x=#{x},
            y=#{y},
            angle=#{angle},
            multiple=#{multiple},
            ifGif=#{ifGif},
            frame=#{frame},
            startQRFrame=#{startQRFrame},
            endQRFrame=#{endQRFrame}
        WHERE
            code=#{code}
    </update>
    <delete id="delete">
        DELETE FROM
            temple
        WHERE
            code=#{code}
    </delete>
    <select id="filter" resultType="QRCodeTemple">
        SELECT
            *
        FROM
            temple
        <if test="code != null">
            WHERE code
            LIKE '${code}%'
        </if>
    </select>
</mapper>