<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.qrcodebusiness.dao.UserInfoMapper">
    <insert id="create" parameterType="UserInfo">
        INSERT INTO
            userinfo
            (code,typeCode,count,macAddress)
        VALUES
            (#{code},#{userType.code},#{count},#{macAddress})
    </insert>
    <update id="countSub">
        UPDATE
            userinfo
        SET
            count=count-#{subCount}
        WHERE
            code=#{code}
    </update>
    <update id="countAdd">
        UPDATE
            userinfo
        SET
            count=count+#{addCount}
        WHERE
            code=#{code}
    </update>
    <select id="filter" resultType="java.util.HashMap">
        SELECT
            *
        FROM
            userinfo
        WHERE
            code=#{code}
    </select>
    <select id="filterType" resultType="UserType">
        SELECT
            *
        FROM
            usertype
        WHERE
            code=#{code}
    </select>
</mapper>